body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: larger;
}
.pendingrooms-roomname {
  background: none!important;
  border: none;
  padding-left :10px;
  /*optional*/
  /*input has OS specific font-family*/
  text-decoration: underline;
  font-size: medium;
  cursor: pointer;
}

.pendingrooms {
   padding-top : 20px
}

.pendingrooms-lock{
  font-size: smaller;
}
