body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size:  larger;
}
.pendingrooms-roomname {
  background: none!important;
  border: none;
  padding-left :10px;
  text-decoration: underline;
  font-size: medium;
  cursor: pointer;
}

.pendingrooms::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 682px;
  background: black;
}
.pendingrooms {
   padding-top : 30px
}

.pendingrooms-lock{
  font-size: smaller;
}

.pendingrooms-info{
  font-size: medium;
  white-space: nowrap;
}

#roomname {
  width: 222px;
}

#roompassword {
  width: 129px;
}

body {
 
}

.card{
  position: relative;
  height: 130px;
  width: 100px;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.red {
  color: white;
  background-color: red;
}

.card.black {
  color: white;
  background-color: black;
}

.Sequence {
 
}

.Pile {
 
}