
body{
  background-color : #EDEBE9
}

.surrenderButton {
  background-color:#9d9bc2; /* Green */
  border: none;
  color: #dcdee0;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .6vmax;
  
}

.surrenderButton:hover {background-color: #b2afdb}
.surrenderButton:active {background-color: #b2afdb; box-shadow: 0 2px #000000; transform: translateY((2px));}

.wrapButton {
  background-color:#393847 ; /* Green */
  border: none;
  color: #dcdee0;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8vmax;
}

.wrapButton:hover {background-color: #54526b}
.wrapButton:active {background-color: #54526b; box-shadow: 0 2px #000000; transform: translateY((2px));}


.pendingrooms-roomname {
  background: none!important;
  border: none;
  padding-left :10px;
  text-decoration: underline;
  font-size: medium;
  cursor: pointer;
}

.pendingrooms::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 682px;
  background: black;
}
.pendingrooms {
   padding-top : 30px
}

.pendingrooms-lock{
  font-size: smaller;
}

.pendingrooms-info{
  font-size: medium;
  white-space: nowrap;
}

#roomname {
  width: 222px;
}

#roompassword {
  width: 129px;
}


